In [1]:
import pandas as pd

In [2]:
data = {"ProductName":["Product A","Product B","Product C"],"ProductPrice":[24455,14567,32145]}
df = pd.DataFrame(data)

In [3]:
df

  ProductName  ProductPrice
0   Product A         24455
1   Product B         14567
2   Product C         32145